body {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  background-color: #f1f1f1;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: #0b25ff;
  margin: 0;
}

.navbar-expand {
  display: none;
}

.navbar-nav {
  font-family: "Catamaran", sans-serif;
}

.mobile-image-container {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 16px 0;
  max-height: 360px;
  height: 100%;
  width: 100%;
}

.mobile-image {
  width: 100%;
  height: auto;
  opacity: 0;
}

/* .carousel-container {
  display: none;
} */

hr {
  padding: auto;
  width: 50%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 25%;
  margin-right: 25%;
  color: #1c1c1c;
}

a {
  text-decoration: none;
}

h4 {
  font-family: "Roboto Mono", monospace;
  color: #2191fb;
}

.project-main-container {
  padding: 0 20px;
  color: #1c1c1c;
}

.project-main-container h4 {
  text-decoration: underline;
  color: #497ffd;
}

.project01-container,
.project02-container,
.project03-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #e3e3dd;
  border-radius: 4px;
}

.project02-container {
  background-color: #e0e0e0;
}

.vertical-line {
  border-right: none;
}

.project01-sub-container,
.project02-sub-container,
.project03-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.project02-sub-container {
  margin-left: 0;
  margin-right: 10px;
}

.project-main-container img {
  width: 50%;
  height: 50%;
}

.about-me-container {
  font-family: "Catamaran", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin: 0 40px 16px 40px;
  background-color: #e3dee1;
  color: black;
  border-radius: 4px;
}

.about-me-container p {
  font-weight: 300;
}

.about-me-icon-container {
  display: flex;
  justify-content: space-evenly;
}

.bi-linkedin,
.bi-github {
  color: #1c1c1c;
}

.hr2 {
  display: none;
  margin-bottom: 0;
}

.filler {
  padding-top: 74px;
}

.contact-container,
.contact-sub-container,
.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  padding: 20px 0 50px 0;
  /* margin: 0 20px; */
  background-color: white;
  border-radius: 4px;
}

/* T A B L E T  */
@media only screen and (min-width: 768px) {
  .logo {
    font-size: calc(1.5rem + 0.6vw);
  }

  nav li {
    font-size: 18px;
  }

  .wrapper {
    margin: 0 46.5px;
    padding: 0 20px;
  }

  /* .mobile-image-container {
    display: none;
  } */

  .carousel-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .carousel {
    flex-basis: 100%;
  }

  h4 {
    font-size: calc(1.5rem + 0.3vw);
  }

  .project-main-container {
    padding: 0;
    font-size: 18px;
  }

  .project01-container,
  .project02-container,
  .project03-container {
    padding: 0;
  }

  .about-me-container p {
    font-size: 18px;
  }

  .contact-sub-container p {
    font-size: 18px;
  }
}

/* D E S K T O P  */
@media only screen and (min-width: 1024px) {
  .logo {
    padding: 10px 10px;
    margin: 0;
  }

  .wrapper {
    margin: 0 10%;
  }

  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  .hr1 {
    display: none;
  }
  .project-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
    gap: 10px;
  }

  .project-main-container hr {
    display: none;
  }

  .project-main-container img {
    width: 100%;
    height: 100%;
  }

  .project-main-container {
    font-size: 16px;
  }

  .project01-container,
  .project02-container,
  .project03-container {
    padding: 20px 20px;
    max-width: 33%;
    justify-content: flex-start;
  }

  .project01-container,
  .project03-container {
    flex-direction: column;
  }

  .project02-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  /* .vertical-line {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  } */

  .project01-sub-container,
  .project02-sub-container,
  .project03-sub-container {
    margin: 0;
    padding-top: 10px;
  }

  .project-img {
    max-height: 40%;
    object-fit: contain;
  }

  .about-me-container {
    margin: 64px 100px 100px;
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 100px 0;
  }

  .contact-container form {
    padding-left: 40px;
  }
}
