nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-container img {
  width: 100%;
  height: auto;
}

hr {
  padding: auto;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.project-main-container {
  padding: 0 20px;
}

.project-main-container h4 {
  text-decoration: underline;
}

.project01-container,
.project02-container,
.project03-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.project01-sub-container,
.project02-sub-container,
.project03-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}

.project02-sub-container {
  margin-left: 0;
  margin-right: 10px;
}

.project-main-container img {
  width: 50%;
  height: 50%;
}

.about-me-container {
  display: flexbox;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.about-me-icon-container {
  display: flex;
  justify-content: space-evenly;
}

.contact-container,
.contact-container form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  padding-bottom: 20px;
}
